@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overlock:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Merienda+One&display=swap');

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Overlock', cursive;
}

.original{
  background: linear-gradient(to bottom, #ff005d, #e479ff);
  height: 100vh;
}

.light{
  background: #fafafa;
  height: 100vh;
}

.dark{
  background: #303030;
  height: 100vh;
}

.img-social{
  width: 2.5rem;
  height: auto;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {
  body{
    height: auto;
    overflow: auto;
    background-size: cover;
  }
}

/* Dispositivos small (telefones em modo paisagem, com menos de 768px)*/
@media (max-width: 767.98px) {

}

/* Dispositivos médios (tablets com menos de 992px)*/
@media (max-width: 991.98px) {

}

/* Dispositivos large (desktops com menos de 1200px)*/
@media (max-width: 1199.98px) {

}

.text-ciano{
  color: #00dada;
  font-family: 'Merienda One', cursive;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #000;
}

.text-verde-agua {
  color: #5ce4e4;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000;
}

.img-borda{
  border: 0.4rem dashed rgb(183, 0, 255);
}

.link:hover{
  color: rgb(7, 255, 234);
  cursor: pointer;
  border: none;
}



